* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

nav {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.option {
    font-size: 50px;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 1.25rem;
}

.list > li {
    padding: .25rem;
    font-size: 2.5em;
    width: 100%;
}

.menu.active > .option,
.option:hover,
.list > li:hover {
    transition: 0.2s;
    color: rgb(197, 68, 68);
    cursor: pointer;
}

.menu.active > .option + .dropdown-menu {
    opacity: 1;
    transform: translateY(10px);
    pointer-events: auto;
}

.option::before {
    position: relative;
    content: '\01F893';
    top: 20px;
}

.menu.active > .option::before {
    position: relative;
    content: '\01F891';
    top: -25px;
}

@media all and (max-width: 800px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 500px) {
    .list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}